# Python
__pycache__
*.pyc
.venv
venv
.pytest_cache

# Node
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDEs
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Build outputs
dist
build

# Logs
*.log

# Database
*.db
*.db-journal
